<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->

    <table th:fragment="view"  class="job-listing" th:each="job : ${jobs}">

        <tr>
            <td><b>ID</b></td>
            <td th:text="${job.id}"></td>
        </tr>

        <tr>
            <td><b>Name</b></td>
            <td th:text="${job.name}"></td>
        </tr>

        <tr>
            <td><b>Employer</b></td>
            <td th:text="${job.employer}"></td>
        </tr>

        <tr>
            <td><b>Location</b></td>
            <td th:text="${job.location}"></td>
        </tr>

        <tr>
            <td><b>Position Type</b></td>
            <td th:text="${job.positionType}"></td>
        </tr>

        <tr>
            <td><b>Skill</b></td>
            <td th:text="${job.coreCompetency}"></td>
        </tr>

    </table><br/>
</div>
</body>
</html>